body {
  background: #eee;
  font-family: sans-serif;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

#cardContainer {
  position: relative;
  top: 60px;
  margin: auto;
  width: 1144px;
}

.card, .cardFront, .cardBack {
  width: 80px;
  height: 125px;
}

.card {
  position: relative;
  margin: 4px;
  float: left;
  transition: 500ms;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}

.cardFront, .cardBack {
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.cardFront {
  z-index: 2;
  font-family: serif;
  font-size: 28px;
  text-align: center;
  line-height: 130px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.card img {
  width: 80px;
  height: 125px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
}

.flip {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}

#endPanel {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -136px;
  width: 250px;
  background: white;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px;
}

#endPanel > button {
  margin: auto;
  margin-top: 10px;
  display: block;
  font-size: 16px;
}